body {
  background-image: url(https://www.swayfinance.com/images/bigbackground.png);
}

.navbar {
  margin: 0 auto;
  padding-top: 30px;
  position: relative;
}

.topcontainer {
  margin-left: 153px;
  margin-right: 153px;
  max-width: 940px;
}

.logo {
  width: 154px;
  margin-top: 13px;
  margin-bottom: 9px;
  margin-left: 17px;
}

.navwords {
  text-align: right;
  text-decoration: none;
  padding: 20px;
}

a:hover {
  text-decoration: none;
  color: #a0abbf;
}

a {
  color: #a0abbf;
  font-family: Roboto, sans-serif;
  text-align: center;
  padding: 20px;
}
